@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

section {
  border: 1px solid rgb(88, 180, 232);
  text-align: center;
  width: 350px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.t-shirt {
  width: 70%;
}

.dropdowns{
  padding-left: 0;
  padding-right: 0;
}

.dropdowns li{
  float: left;
  list-style-type: none;
  border: 1px solid rgb(88, 180, 232);
  padding: 10px;
  width: 20%;
  box-sizing: border-box;
}

h3 {
  display: inline-block;
  font-weight: 400;
}

span {
  margin-left: 100px;
  padding-left: 100px;
}

.fa-refresh {
  color: rgb(88, 180, 232);
  text-decoration: none;

}

.fa-square {
  color: rgb(88, 180, 232);
  text-decoration: none;
}

.fa-heart-o {
  color: rgb(88, 180, 232);
  text-decoration: none;
}

.fa-shopping-cart {
  color: rgb(88, 180, 232);
  text-decoration: none;
}

.letter {
  color: rgb(88, 180, 232);
  text-decoration: none;
}

aside.price-info {
  color: rgb(88, 180, 232);
}

li:hover {
  background-color: rgb(88, 180, 232);
}

.fa-refresh:hover {
  color: rgb(234, 245, 247)
}

.fa-heart-o:hover {
  color: rgb(234, 245, 247)
}

.letter:hover {
  color: rgb(234, 245, 247)
}

.fa-square:hover {
  color: rgb(234, 245, 247)
}

.fa-shopping-cart:hover {
  color: rgb(234, 245, 247)
}
